graphic {
    display: none;
}

surface:before{
    link:oxy_xpath("graphic/@url");
    content: attr("n") ;
}

facsimile:before {
    content: "Faksimile: "
}
facsimile surface {
    display: list-item;
    color: blue;
    list-style: bullet;
}

foliation:before {
    content: "Foliierungsverlauf: ";
}

additional > listBibl:before {
    content: "Literatur: ";
}

additional > listBibl > bibl {
    display: list-item;
}

msDesc {
    color: black;
}

msDesc > msIdentifier:before {
    content: "Verzeichnungseinheit: ";
}

msDesc > msIdentifier > *:after {
    content: " > ";
}

msDesc > msIdentifier > idno:after {
    content: ""!important;
}

summary:before {
    content: "Inhalt: ";
}

summary {
    display: block;
}

msItem:before {
    content: attr(n)")   ";
}

msItem {
    display: block;
    margin: 0.4em 0 0.4em 0;
}

msItem > listBibl:before {
    content: "Literatur: ";
}

msItem > listBibl {
    margin-top: 0.4em;
    margin-left: 1.5em;
}

msItem > listBibl > bibl {
    display: list-item;
}

origin > date:before {
    content: "Datierung: ";
}

origin > note:before {
    content: "Zur Datierung: ";
}

classCode:before {
    content: "RNA-Klassifizierung: ";
}

